@model eUseControl.Web.Models.User.UserData

@{
    ViewBag.Title = "Products";
}

@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html" ; charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/vendor/bootstrap/dist/css/bootstrap.css" />
    <script src="~/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Content/css/responsive.css" />
    <link rel="stylesheet" href="~/Content/css/style.css" />
    <link rel="stylesheet" href="~/Content/css/style.scss" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">

    <title>
        Giftos
    </title>

    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!-- Custom styles for this template -->
    <link href="~/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/css/responsive.css" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css?family=Roboto: 300, 400, 500,700,900" rel="stylesheet" type="text/css">
    @Styles.Render("~/bundles/font-awesome/css")
    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
    <!-- Primary HOME style --> @Styles.Render("~/bundles/main/css")
</head>
<body>
    <div class="hero_area">
        @RenderBody()

        <header class="header_section">
            @Html.Partial("_Header")
        </header>

        <h2>Product Details</h2>
        <p>Product Name: @Model.SingleProduct</p>
    </div>


        <script src="~/js/jquery-3.4.1.min.js"></script>
        <script src="~/js/bootstrap.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
        </script>
        <script src="js/custom.js"></script>
</body>
</html>